<div *ngIf="announcement">
  <a [routerLink]="" (click)="openWithSystemBrowser(announcement.link)" [style]="linkChecker(announcement.link)">
  <ion-card class="announcement-card" color="{{announcement.background}}">
    <ion-card-header class="heading-container">
      <div class="announcement-heading">
        <ion-card-title class="announcement-type">{{announcement.type}}<span *ngIf="publishDateNew(announcement, 14)"> - New</span></ion-card-title>
        <span class="announcement-date" *ngIf="publishDateValid(announcement)">{{ publishDateFormat(announcement) }}</span>
      </div>
      <ion-card-subtitle class="announcement-title">{{announcement.title}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="announcement-description">
      {{announcement.description}}
    </ion-card-content>
    <div class="announcement-link" *ngIf="announcement.link">
         <ion-icon  name="open-outline"></ion-icon>
    </div>
  </ion-card>
</a>
</div>