#heading-container {
  padding-bottom: 5px;
}

#announcement-card {
  width: min(100% - 15px, 840px) !important;
  border-radius: 0px;
  position:relative !important;
  height: 155px;
  margin: auto;
  text-align: left;
}

#announcement-heading {
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 28px;
}

#announcement-type {
  font-weight: bold;
  font-size: 16px;
}

#announcement-title {
  margin-top: 0px;
}

#announcement-description {
  font-size: 12px;
  
}

#announcement-date {
  font-size: 12px;
}


#announcement-link

 {
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
  padding-bottom: 10px;
  padding-right: 10px;
}

