<div>{{announcement.link}}</div>

<ion-grid>
  <ion-card>
    <ion-card-header id="card-header">
      <ion-card-title>Create New Banner Card</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size = "10" offset ="1">
          <ion-item counter="true">
            <ion-label position="stacked">Title</ion-label>
            <ion-input maxlength="48" [(ngModel)]="announcement.title" placeholder="Example Title"></ion-input>
          </ion-item>

          <ion-item counter="true">
            <ion-label position="stacked">Desciption</ion-label>
            <ion-input maxlength="170" [(ngModel)]="announcement.description" placeholder="This is the description"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Link</ion-label>
            <ion-input placeholder="www.example-link.com" [(ngModel)]="announcement.link"></ion-input>
          </ion-item>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked"> Publish Date</ion-label>
                <ion-input placeholder="mm/dd/yy">
                   <ion-datetime-button></ion-datetime-button> 
                </ion-input>
                <!-- <ion-button id="open-date">Date</ion-button> -->
                <!-- <ion-datetime-button 
                value="2022-04-21T00:00:00"
                min="2022-03-01T00:00:00"
                max="2022-05-31T23:59:59"
                datetime="datetime"></ion-datetime-button> -->
                <ion-modal trigger="open-date" [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime id="datetime"></ion-datetime>
                    <ion-button >here</ion-button>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label
                  position="stacked"
                  onclick="<ion-datetime></ion-datetime>">Expiration Date</ion-label>
                <ion-input placeholder="mm/dd/yy"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label position="stacked">Type</ion-label>
                  <ion-select placeholder="News" [(ngModel)]="announcement.type" [multiple]="false">
                    <ion-select-option selected value="Werner News">News</ion-select-option>
                    <ion-select-option value="Rewards">Rewards<ion-label></ion-label></ion-select-option>
                    <ion-select-option value="COVID-19">COVID-19</ion-select-option>
                    <ion-select-option value="IMPORTANT!">IMPORTANT!</ion-select-option>
                    <ion-select-option value="Recognition">Recognition</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col size="6">
              <ion-list>
                <ion-item>
                  <ion-label position="stacked">Background</ion-label>
                  <ion-select placeholder="White" [(ngModel)]="announcement.background" [multiple]="false">
                    <ion-select-option value="light">White</ion-select-option>
                    <ion-select-option value="primary">Primary<ion-label></ion-label></ion-select-option>
                    <ion-select-option value="secondary">Secondary</ion-select-option>
                    <ion-select-option value="tertiary">Tertiary</ion-select-option>
                    <ion-select-option value="success">Success</ion-select-option>
                    <ion-select-option value="warning">Warning</ion-select-option>
                    <ion-select-option value="danger">Danger</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row id="news-box">
            <!-- <ion-card id="news-card"> </ion-card> -->
            <app-announcement-card style="width: 360px;" [announcement]="announcement"></app-announcement-card>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button id="primary-btn">SEHEDULE BANNER CARD</ion-button>
              <ion-button id="secondary-btn">SAVE DRAFT</ion-button>
              <ion-button id="secondary-btn">RESET</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-grid>
