#card-header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 0;
}

#dropdown {
  display: flex;
  flex-direction: row;
}

#whitebox {
  --background: #00213f;
  --color: #00ff8c;
}

.my-select .my-select-option .whitebox {
  --color: #971e49;
  --color-hover: #79193b;
  --background-color: red;
}

#news-box {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 221px;
}

#news-card {
  flex-shrink: 0;
  align-content: center;
  background-color: #163762;
  width: 407px;
  height: 151px;
}

#primary-btn {
  --background: #3369b4;
  --color: #ffffff;
}

#secondary-btn {
  --background: #ffffff;
  --color: #163762;
}

#form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-card {
  width: 360px;
}

.date-input {
  cursor: pointer !important;
}

::ng-deep .date-modal {
  --height: 440px;
  --width: 320px;
  --border-radius: 8px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

::ng-deep .date-input .native-input {
  cursor: pointer;
}

.werner-gray {
  color: #737373;
}

ion-modal#example-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;

  color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
  margin-bottom: 10px;
}

.example-modal {
  --width: 400px !important;
  height: auto !important;
}

.col3-row ion-note {
  margin-top: 10px;
}

#announcement-card {
  width: 400px;
  margin: 0px 10px;
}

#form-title {
  padding: 16px;
}