<ion-grid>
  <ion-card>
    <ion-card-header class="card-header">
      <div class="form-header">
        <ion-card-title class="form-title">{{title}}</ion-card-title>
        <div *ngIf="isPrevious">
          <ion-button fill="clear" id="{{ 'delete' + announcement.idAnnouncements }}" expand="block">
            <ion-icon name="trash-outline" class="werner-gray"></ion-icon>
          </ion-button>
          <ion-modal class="example-modal" #modal
            trigger="{{ 'delete' + announcement.idAnnouncements }}">
            <ng-template>
              <div class="wrapper">
                <app-announcement-card [announcement]="announcement" class="announcement-card"></app-announcement-card>
                <ion-row lines="none" class="buttons">
                  <ion-button detail="false" (click)="modal.dismiss()" fill="clear">
                    Cancel
                  </ion-button>
                  <ion-button detail="false" (click)="onDelete(announcement); modal.dismiss() " class="blue-btn"
                    color="danger">
                    Delete
                  </ion-button>
                </ion-row>
              </div>
            </ng-template>
          </ion-modal>
        </div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size = "10" offset ="1">
          <ion-item counter="true" [ngClass]="validationClass(validation.titleState)">
            <ion-label position="stacked">Title</ion-label>
            <ion-input maxlength="48" [(ngModel)]="announcement.title" placeholder="Example Title" (ionInput)="validation.titleState = null"></ion-input>
            <ion-note slot="error">Title is required.</ion-note>
          </ion-item>

          <ion-item counter="true" [ngClass]="validationClass(validation.descriptionState)">
            <ion-label position="stacked">Desciption</ion-label>
            <ion-input maxlength="170" [(ngModel)]="announcement.description" placeholder="This is the description" (ionInput)="validation.descriptionState = null"></ion-input>
            <ion-note slot="error">Description is required for non-draft.</ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Link</ion-label>
            <ion-input placeholder="www.example-link.com" [(ngModel)]="announcement.link"></ion-input>
          </ion-item>

          <ion-row>
            <ion-col>
              <ion-item id="publishDate" [ngClass]="validationClass(validation.publishDateState)">
                <ion-label position="stacked">Publish Date</ion-label>
                <ion-input
                  class="date-input"
                  value="{{publishDateLabel}}"
                  placeholder="mm/dd/yyyy">
                </ion-input>
                <ion-modal class="date-modal" trigger="publishDate">
                  <ng-template>
                    <ion-datetime
                      #publishDateTime
                      size="cover"
                      showDefaultButtons="true"
                      [(ngModel)]="publishDate"
                      (ionChange)="publishDateChanged(publishDateTime.value)">
                    </ion-datetime>
                  </ng-template>
                </ion-modal>
                <ion-note slot="error">Publish Date is required for non-draft and must be valid.</ion-note>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item id="expirationDate">
                <ion-label position="stacked">Expiration Date</ion-label>
                <ion-input
                  class="date-input"
                  value="{{expirationDateLabel}}"
                  placeholder="mm/dd/yyyy">
                </ion-input>
                <ion-modal class="date-modal"trigger="expirationDate">
                  <ng-template>
                    <ion-datetime
                      #expirationDateTime
                      size="cover"
                      showDefaultButtons="true"
                      [(ngModel)]="expirationDate"
                      (ionChange)="expirationDateChanged(expirationDateTime.value)"
                    ></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item [ngClass]="validationClass(validation.typeState)">
                  <ion-label position="stacked">Type</ion-label>
                  <ion-select placeholder="News" [(ngModel)]="announcement.type" [multiple]="false" (ionChange)="validation.typeState = null">
                    <ion-select-option selected value="Werner News">News</ion-select-option>
                    <ion-select-option value="Rewards">Rewards<ion-label></ion-label></ion-select-option>
                    <ion-select-option value="COVID-19">COVID-19</ion-select-option>
                    <ion-select-option value="IMPORTANT!">IMPORTANT!</ion-select-option>
                    <ion-select-option value="Recognition">Recognition</ion-select-option>
                  </ion-select>
                  <ion-note slot="error">Type is required for non-draft.</ion-note>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col>
              <ion-list>
                <ion-item [ngClass]="validationClass(validation.backgroundState)">
                  <ion-label position="stacked">Background</ion-label>
                  <ion-select placeholder="White" [(ngModel)]="announcement.background" [multiple]="false" (ionChange)="validation.backgroundState = null">
                    <ion-select-option value="light">White</ion-select-option>
                    <ion-select-option value="primary">Primary<ion-label></ion-label></ion-select-option>
                    <ion-select-option value="secondary">Secondary</ion-select-option>
                    <ion-select-option value="tertiary">Tertiary</ion-select-option>
                    <ion-select-option value="success">Success</ion-select-option>
                    <ion-select-option value="warning">Warning</ion-select-option>
                    <ion-select-option value="danger">Danger</ion-select-option>
                  </ion-select>
                  <ion-note slot="error">Background is required for non-draft.</ion-note>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row class="news-box">
            <app-announcement-card class="form-card" [announcement]="announcement"></app-announcement-card>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button class="primary-btn" (click)="save()">{{saveButtonTitle}}</ion-button>
              <ion-button class="secondary-btn"  (click)="saveDraft()">{{saveDraftButtonTitle}}</ion-button>
              <ion-button class="secondary-btn" (click)="reset()">RESET</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-grid>
