/* // #container {
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;
//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// } */

#banner-card {
  /* width: 100%; */
  
}

#banner-heading {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

#banner-header-row {
  padding: 0 1em 0 1em;
}
#banner-subtitle,
#banner-description {
  display: flex;
  justify-content: left;
  align-content: flex-start;
  text-align: left;
  margin: 0;
  font-size: 10px;
}

#banner-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#bannerwid {
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 0px;
  height: 120px;

}


@media only screen and (min-width: 600px) {
  #bannerwid {
    width: 60%;
  }

}
