<div *ngIf="announcement">
  <ion-card id="announcement-card" color="{{announcement.background}}">
    <ion-card-header id="heading-container">
      <div id="announcement-heading">
        <ion-card-title id="announcement-type">{{announcement.type}}</ion-card-title>
        <span id="announcement-date">{{ announcement.expirationDate.toLocaleDateString(undefined, {year: 'numeric', month: 'short', day: 'numeric'}) }}</span>
      </div>
      <ion-card-subtitle id="announcement-title">{{announcement.title}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content id="announcement-description">
      {{announcement.description}}
    </ion-card-content>
  </ion-card>
</div>