<ion-col size-lg="6" size-md="6" size-sm="6">
  <ion-row class="with-bottom-border">
    <ion-progress-bar type="indeterminate" color="medium"></ion-progress-bar>
  </ion-row>
  <ion-row class="with-bottom-border">
    <ion-progress-bar type="indeterminate" color="medium"></ion-progress-bar>
  </ion-row>
  <ion-row class="with-bottom-border">
    <ion-progress-bar type="indeterminate" color="medium"></ion-progress-bar>
  </ion-row>
  <ion-row class="with-bottom-border">
    <ion-progress-bar type="indeterminate" color="medium"></ion-progress-bar>
  </ion-row>
</ion-col>