<ion-grid class="main-content">
  <ion-card>
    <ion-row class="header-row">
      <ion-header class="header-label">
        <span class="main-header werner-gray">Announcements</span>
      </ion-header>
    </ion-row>
    <ion-row class="subheader-row">
      <ion-col size-lg="9" size-md="8" size-sm="6">
        <h5 class="subheader-label">
          Drag to reorder Banner Cards - top is the first card in sequence, bottom
          is last card in squence.
        </h5>
      </ion-col>
      <ion-col class="create-button-col" size-lg="3" size-md="4" size-sm="4">
        <ion-button class="my-btn blue-btn" href="../create">Create New</ion-button>
      </ion-col>
    </ion-row>
    <app-loading id="loading"></app-loading>
    <ion-row class="grid-wrapper-row">
      <ion-grid>
        <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
          <ion-row class="bannerrow" *ngFor="let banner of announcements; let i = index">
            <ion-col class="bannercol-first" size-lg="1" size-md="2" size-sm="2">
              <ion-reorder>
                <ion-icon class="my-dragable" name="repeat"></ion-icon>
              </ion-reorder>
            </ion-col>
            <ion-col size-lg="6" size-md="6" size-sm="6" class="banner-title-col with-bottom-border">
              <ion-label class="banner-title-label">{{banner.title}}</ion-label>
            </ion-col>
            <ion-col size-lg="5" size-md="4" size-sm="4" class="bannercol-third with-bottom-border">
              <ion-row class="col3-row">
                <ion-note *ngIf="banner.isDraft" class="dateid drafttag">Draft</ion-note>
                <div *ngIf="banner.isDraft && expirationDateValid(banner)" class="spacer"><!--spacer--></div>
                <ion-note *ngIf="expirationDateValid(banner)" [style.backgroundColor]="banner.background" class="dateid {{getClass(banner)}}">
                  Exp. {{ expirationDateFormat(banner) }}
                </ion-note>
                <ion-button fill="clear" id="{{ 'delete' + banner.idAnnouncements }}" expand="block">
                  <ion-icon name="trash-outline" class="werner-gray"></ion-icon>
                </ion-button>
                <ion-modal id="example-modal" class="example-modal" #modal
                  trigger="{{ 'delete' + banner.idAnnouncements }}">
                  <ng-template>
                    <div class="wrapper">
                      <app-announcement-card [announcement]="banner" id="announcement-card"></app-announcement-card>
                      <ion-row lines="none" class="buttons">
                        <ion-button detail="false" (click)="modal.dismiss()" fill="clear">
                          Cancel
                        </ion-button>
                        <ion-button detail="false" (click)="onDelete(banner); modal.dismiss() " class="blue-btn"
                          color="danger">
                          Delete
                        </ion-button>
                      </ion-row>
                    </div>
                  </ng-template>
                </ion-modal>
                <ion-button fill="clear" [routerLink]="updatePageLink(banner)">
                  <ion-icon name="pencil-outline" class="werner-gray"></ion-icon>
                </ion-button>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-reorder-group>
        <ion-row class="bottom-row">
          <ion-col>&nbsp;</ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-card>
</ion-grid>
