<ion-content [fullscreen]="true">
  <swiper [config]="config" #swiperSlideShow>
    <ng-template ngFor let-banner [ngForOf]="bannerMessages">
      <ng-template swiperSlide>
        <ion-card id="banner-card" [style.backgroundColor]="banner.backgroundColor" >
          <ion-card-header id="banner-header-row">
            <div id="banner-heading">
              <ion-card-title id="banner-title" [style.color]="banner.textColor">{{ banner.title }}</ion-card-title>
              <p [style.color]="banner.textColor">
                {{banner.date.toLocaleDateString()}}
              </p>
            </div>
          </ion-card-header>
          <ion-card-content id="banner-content">
            <p [style.color]="banner.textColor" id="banner-subtitle" >
              {{ banner.subtitle}}
            </p>
            <ion-card-subtitle [style.color]="banner.textColor" id="banner-description">
              {{ banner.description }}
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ng-template>
    </ng-template>
  </swiper>
</ion-content>
