<ion-header>
  <ion-toolbar>
    <ion-title>create-banner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a routerLink="../home">Go Home</a>
  <form action="#">
    <div id="title">
      <div id="input-box">
        <span class="tiltle-input">Title</span>
        <input type="text" placeholder="Example Title" />
      </div>
      <div id="input-box">
        <span class="description-input">Description</span>
        <input type="text" placeholder="This is the description" />
      </div>
      <div id="input-box">
        <span class="link-input">Link</span>
        <input type="text" placeholder="www.example-link.com" />
      </div>
      <div class="">
        <div></div>
        <div></div>
      </div>
    </div>
  </form>
</ion-content>
