<ion-header>
  <ion-toolbar>
    <ion-title>create-banner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a routerLink="../home">Go Home</a>
  <form action="#">
    <div id="title">
      <div id="input-box">
        <span class="tiltle-input">Title</span>
        <input type="text" placeholder="Example Title" />
      </div>
      <div id="input-box">
        <span class="description-input">Description</span>
        <input type="text" placeholder="This is the description" />
      </div>
      <div id="input-box">
        <span class="link-input">Link</span>
        <input type="text" placeholder="www.example-link.com" />
      </div>
      <div class="input-box-side-by-side">
        <div id="input-box">
          <span class="date-input">Publish Date</span>
          <input type="text" placeholder="mm/dd/yyyy" />
        </div>
        <div id="input-box">
          <span class="date-input">Expiration Date</span>
          <input type="text" placeholder="mm/dd/yyyy" />
        </div>
      </div>

      <div class="input-box-side-by-side">
        <div>
          <p>Title</p>
          <select name="dropdown">
            <option value="News" selected>News</option>
            <option value="Rewards">Rewards</option>
            <option value="COVID-19">COVID-19</option>
            <option value="IMPORTANT">IMPORTANT!</option>
            <option value="Recognition">Recognition</option>
          </select>
        </div>

        <div>
          <p>Background</p>
          <select name="dropdown">
            <option value="White" selected>White</option>
            <option value="Primary" selected>Primary</option>
            <option value="Green" selected>Green</option>
            <option value="Danger" selected>Danger</option>
            <option value="Warning" selected>Warning</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</ion-content>
