#previous-search {
  max-width: 370px;
  margin-left: auto; 
  margin-right: 0;
}

.main-header {
  font-family: 'Roboto';
  font-style: bold;
  font-size: 20px;
  line-height: 23px;
}

.werner-gray {
  color: #737373;
}

.header-row {
  background-color: #ffffff;
  margin-bottom: 5px;
  border-radius: 0px 10px 0px 0px;
}

.header-label {
  padding: 15px 10px 10px 30px;
}

.displayedAnnouncementList{
  width: 100% !important;
}
