#bannergrid {
  justify-content: center;
  align-content: center;
}
#bannercol {
  display: flex;
  justify-content: center;
  align-content: center;
}

#dateid {
  border-radius: 30px;
  background-color: aquamarine;
  margin-right: 10px;
  // margin-left: auto;
  // margin-right: auto;
  
  padding: 10px;
}

#bannerlabel {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

