<p>announcement-banner works!</p>
<div *ngIf="announcementList">
  <swiper [config]="config" #swiperSlideShow>
    <ng-template ngFor let-announcement [ngForOf]="announcementList">
      <ng-template swiperSlide>
        <app-announcement-card [announcement]="announcement"></app-announcement-card>
      </ng-template>
    </ng-template>
  </swiper>
</div>

<swiper
  [config]="config"
  (slideChange)="onSlideChange()"
>
  <ng-template swiperSlide>Slide 1</ng-template>
  <ng-template swiperSlide>Slide 2</ng-template>
  <ng-template swiperSlide>Slide 3</ng-template>
  <ng-template swiperSlide>Slide 4</ng-template>
  <ng-template swiperSlide>Slide 5</ng-template>
  <ng-template swiperSlide>Slide 6</ng-template>
</swiper>

<swiper class="mySwiper">
  <ng-template swiperSlide>Slide 1</ng-template
  ><ng-template swiperSlide>Slide 2</ng-template
  ><ng-template swiperSlide>Slide 3</ng-template
  ><ng-template swiperSlide>Slide 4</ng-template
  ><ng-template swiperSlide>Slide 5</ng-template
  ><ng-template swiperSlide>Slide 6</ng-template
  ><ng-template swiperSlide>Slide 7</ng-template
  ><ng-template swiperSlide>Slide 8</ng-template
  ><ng-template swiperSlide>Slide 9</ng-template>
</swiper>