<app-announcement-banner></app-announcement-banner>
<ion-grid>
    <ion-col>
        <ion-row>    
            Test Services here-- Check the console!
        </ion-row>
        <ion-row>
            <div [ngStyle]="{background: 'white'}">
                <ion-label>Use this input to change the id these api calls are targetting</ion-label>
                <ion-input type="number" placeholder="0" [(ngModel)]="testVal"></ion-input>
            </div>
        </ion-row>
        <ion-row>
            <ion-button (click)="getAnnouncementById()">Get by id: {{testVal}}</ion-button>
            <ion-button (click)="getAll()">Get All</ion-button>
            <ion-button (click)="getActive()">Get Active</ion-button>
            <ion-button (click)="delete()">Delete: {{testVal}}</ion-button>
            <ion-button (click)="create()">Create</ion-button>
            <ion-button (click)="update()">Update: {{testVal}}</ion-button>
        </ion-row>
    </ion-col>
</ion-grid>
