<ion-content [fullscreen]="true">
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content id="test">
      <a href="https://www.youtube.com/">Click here</a>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card> -->

  <swiper>
    <ng-template ngFor let-banner [ngForOf]="bannerMessages">
      <ng-template swiperSlide>
        <ion-card id="test" [style.background-image]="banner.imageUrl">
          <ion-card-header>
            <ion-card-title>{{ banner.title }}</ion-card-title>
            <ion-card-subtitle>{{ banner.description }}</ion-card-subtitle>
            >>>>>>> 2a762def89ae8bd595552a89d171f74acebb986e
          </ion-card-header>

          <ion-card-content>
            <!-- <a href="https://www.youtube.com/">Click here</a>
            Keep close to Nature's heart... and break clear away, once in awhile, and
            climb a mountain or spend a week in the woods. Wash your spirit clean. -->
          </ion-card-content>
        </ion-card>
      </ng-template>
    </ng-template>
  </swiper>
</ion-content>

<!-- <div>
  <img/>
  <div class="textcontainer" >
    <label>placeholder </label>
    <p>lasdfjladsjfldsfj</p>
  </div>
</div> -->
