
#container {
  // text-align: center;
  // position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#test {
  // @import "~swiper/scss";
  // @import "~@ionic/angular/css/ionic-swiper";
  width: 100%;
  background-repeat: no-repeat;
}

#banner-heading {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

// #banner-subtitle,
// #banner-description {
//   display: flex;
//   justify-content: left;
//   color: #ffffff;
//   font-size: 10px;
// }

#banner-subtitle,
#banner-description {
  display: flex;
  justify-content: left;
  align-content: flex-start;
  text-align: left;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 10px;
}
